<div class="agenda-panel">
  <div class="agenda-points">
    <ul class="list-group" data-controller="agenda-order">
      <% @session_agendas.each do |agenda| %>
        <li class="list-group-item">
          <%= render partial: 'agenda_item', locals: { agenda: agenda } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
