// Define variables for your color scheme

// Website Colours
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #e4929f;

// Button Colours
$button-color: #333;
$button-hover-color: #fff;
$button-border-color: #333;
$button-hover-bg: #333;
