// Define variables for your color scheme

// Website Colours
$yellow: #FFC65A;
$orange: #E67E22;
$green: #47D4BE;
$gray: #0E0000;
$light-gray: #ececec;

// Button Colours
$button-color: #333;
$button-hover-color: #fff;
$button-border-color: #333;
$button-hover-bg: #333;

// Badbook colors:
$light-cream: #F7F1EA;
$other-cream: #F2EAE1;
$mid-cream: #F0E5D8;
$dark-gray: #404040;
$mid-gray: #888888;
$light-gray-text: #c5c5c5;
$vote-buttons: #d5d5d5;
$border-gray: #dfdfdf;
$pink: #E4929F;
$light-blue: #D6DFE1;
$blue: #479BD4;
$red: #BA2039;
