.page-title-container {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 50%;

  h1 {
    margin-bottom: 20px;
  }
}

#sessions-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 20px;
  overflow: hidden;
  background-color: $dark-gray;
  padding: 10px;
  color: white;
}

#sessions-table th, #sessions-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #505050;
}

#sessions-table tbody tr:last-child td {
  border-bottom: none;
}

.session-book-name a {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.book-author {
  display: block;
  font-size: 16px;
  color: #d4cdc3;
}

#sessions-table tbody tr:hover {
  background-color: #4A4A4A;
}

#sessions-table .session-countdown, .session-start-time, .session-capacity {
  font-size: 0.9em;
  color: white;
}

// books/show stuff:

.sessions-panel {
  margin-left: 40px;
  min-width: 450px;
  height: 450px;
  overflow: auto;
  background-color: $mid-cream;
  border-radius: 20px;
  padding: 20px;
}

.sessions-panel-header {
  font-size: 20px;
}

.book-session-start-time {
  line-height: 1;
}

.session-date {
  font-weight: bold;
  font-size: 0.9em;
}

.session-time {
  font-size: 0.9em;
}

#books-sessions-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

#books-sessions-table th, #books-sessions-table td {
  text-align: left;
  border-bottom: 1px solid #e0d1c0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#books-sessions-table tbody tr:last-child td {
  border-bottom: none;
}

#book-sessions-table .book-session-start-time, .book-session-capacity {
  font-size: 0.9em;
}

.session-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
