.page-title-container {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 50%;

  h1 {
    margin-bottom: 20px;
  }
}

#sessions-table {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 20px;
  overflow: hidden;
  background-color: $other-cream;
  border-radius: 20px;
  border: 1px solid $mid-cream;
  padding: 10px;
  color: $dark-gray;
}

#sessions-table th, #sessions-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid $mid-cream;
}

#sessions-table .session-action-button {
  text-align: right;
}

#sessions-table tbody tr:last-child td {
  border-bottom: none;
}

.session-book-name a {
  font-weight: bold;
  font-size: 20px;
  color: $dark-gray;
}

#sessions-table tbody tr:hover {
  background-color: #f1e7d9;
  border-radius: 20px;
}

#sessions-table .session-countdown, .session-start-time, .session-capacity {
  font-size: 0.9em;
  color: $dark-gray;
}

// books/show stuff:

.sessions-panel {
  min-width: 425px;
  height: 450px;
  overflow: auto;
  background-color: $other-cream;
  border-radius: 20px;
  border: 1px solid $mid-cream;
  padding: 20px;
}

.sessions-panel-header {
  font-size: 20px;
}

.book-session-start-time {
  line-height: 1;
}

.session-date {
  font-weight: bold;
  font-size: 0.9em;
}

.session-time {
  font-size: 0.9em;
}

#books-sessions-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

#books-sessions-table th, #books-sessions-table td {
  border-bottom: 2px solid $mid-cream;
  padding-top: 15px;
  padding-bottom: 15px;
}

#books-sessions-table tbody tr:last-child td {
  border-bottom: none;
}

#book-sessions-table .book-session-start-time, .book-session-capacity {
  font-size: 0.9em;
}

.session-action {
  text-align: right;
}

// Bookshelves show

.bookshelf-name {
  font-weight: bold;
  font-size: 20px;
  color: $dark-gray;
}

.bookshelf-book-tile {
  width: 50px;
  height: 75px;
  margin-right: 8px;
  border-radius: 6px;
}

.bookshelf-delete {
  color: $mid-gray;
}
