.page-title-container {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 50%;

  h1 {
    margin-bottom: 20px;
  }
}

#sessions-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden;
  background-color: $dark-gray;
  padding: 10px;
  color: white;
}

#sessions-table th, #sessions-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #505050;
}

#sessions-table tbody tr:last-child td {
  border-bottom: none;
}

.session-book-name a {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.book-author {
  display: block;
  font-size: 16px;
  color: #d4cdc3;
}

#sessions-table tbody tr:hover {
  background-color: #4A4A4A;
}

#sessions-table .session-countdown, .session-start-time, .session-capacity {
  font-size: 0.9em;
  color: white;
}
