<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-wrapper" style="background-color: white; padding: 40px;">
        <div class="mb-3 d-flex align-items-center">
          <h2 class="join-text" style="height: auto;">Forgot your password?</h2>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
          <%= f.error_notification %>

          <div class="form-group mb-3">
            <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, wrapper: false, label_html: { class: "form-label" }, class: "form-control mb-3" %>
          </div>

          <div class="form-actions d-flex justify-content-center align-items-center">
            <%= f.button :submit, "Reset password", class: "btn btn-outline-secondary btn-md mt-3 mb-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

