<div id="<%= dom_id bookshelf_book %>">
  <p>
    <strong>Book:</strong>
    <%= bookshelf_book.book_id %>
  </p>

  <p>
    <strong>Bookshelf:</strong>
    <%= bookshelf_book.bookshelf_id %>
  </p>

</div>
