<h1>Editing bookshelf book</h1>

<%= render "form", bookshelf_book: @bookshelf_book %>

<br>

<div>
  <%= link_to "Show this bookshelf book", @bookshelf_book %> |
  <%= link_to "Back to bookshelf books", bookshelf_books_path %>
</div>
