<footer class="footer">
  <div class="container-footer">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "badbook-logo.png", class: "footer-logo" %>
        <p class="logo-text">Your virtual bookclub for good (and bad) books</p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <p class="footer-links-header">BROWSE</p>
            <ul class="list-unstyled footer-links">
              <li><a href="#">Books</a></li>
              <li><a href="#">Sessions</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <p class="footer-links-header">JOIN</p>
            <ul class="list-unstyled footer-links">
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <p class="footer-links-header">FOLLOW</p>
            <ul class="list-unstyled footer-social">
              <li><a href="#"><i class="fab fa-github"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copyright">&copy; <%= Time.now.year %> Badbook  •  Privacy  •  Terms</p>
      </div>
    </div>
  </div>
</footer>
