<div class="homepage-bg">
  <div class="jumbotron text-center d-flex align-items-center justify-content-center vh-100">
    <div>
      <h1 class="display-1 mb-4">Your virtual book club for <br> good <span class="strike-through">and bad</span> books.</h1>
      <p class="lead">
        <button class="btn btn-primary btn-lg mt-4 me-2 btn-explore">Explore Books</button>
        <button class="btn btn-success btn-lg mt-4 ms-2 btn-sign-up">Sign Up</button>
      </p>
    </div>
  </div>

  <h1 class="d-flex justify-content-center mt-2">Book club now in session</h1>

  <div class="mt-4">
    <%= render 'books/carousel', books: @books %>
  </div>
</div>
