<div class="jumbotron text-center d-flex align-items-center justify-content-center vh-100">
  <div>
    <h1 class="display-1">Your virtual book club for <br> good and bad books.</h1>
    <p class="lead">
      <button class="btn btn-primary btn-lg mt-4 btn-explore">Explore Books</button>
       <button class="btn btn-success btn-lg mt-4 btn-sign-up">Sign Up</button>
    </p>
  </div>
</div>

<h1 class="d-flex justify-content-center">Book club now in session</h1>
