<div class="homepage-bg">
  <div class="jumbotron text-center d-flex align-items-center justify-content-center vh-100">
    <div>
      <h1 class="display-1 mb-4">Your virtual book club for <br> good <span class="strike-through">and bad</span> books.</h1>
      <p class="lead">
        <button class="btn btn-primary btn-lg mt-4 me-2 btn-explore">EXPLORE BOOKS</button>
        <button class="btn btn-success btn-lg mt-4 ms-2 btn-sign-up">SIGN UP</button>
      </p>
    </div>
  </div>
  <div>
    <h2 class="carousel-header">Bookclubs Now in Session</h2>
    <%= render 'books/carousel', books: @books %>
  </div>
  <br><br><br>
</div>

<%= render '/books/bookshelf_dropdown' %>

<div class="cta-box">
  <div class="container">
    <h1>Join the Discussion</h1>
    <p>Review and discuss your latest reads with a like-minded community</p>
    <button class="btn btn-primary btn-lg mt-4 me-2 btn-login">LOGIN</button>
    <button class="btn btn-success btn-lg mt-4 ms-2 btn-sign-up">SIGN UP</button>
  </div>
</div>
