<div data-controller="dropdown">
  <button class="add-btn" data-action="click->dropdown#toggle" data-toggle="tooltip" title="Add to Bookshelf">
    <i class="fa fa-plus"></i>
  </button>

  <div class="dropdown d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center d-none" data-dropdown-target="menu">
    <ul class="dropdown-menu position-static d-grid gap-1 p-2 mx-0 shadow w-220px position-absolute mt-5" data-bs-theme="light">
      <li><a class="dropdown-item rounded-2" href="#">Action</a></li>
      <li><a class="dropdown-item rounded-2" href="#">Another action</a></li>
      <li><a class="dropdown-item rounded-2" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item rounded-2" href="#">Create a bookshelf</a></li>
    </ul>
  </div>
</div>
