<!-- data-controller associates this snippet of HTML to our Stimulus controller. -->
<div class="" data-controller="dropdown">
  <!-- data-dropdown-target defines this button as our Stimulus "button". -->
  <!-- data-action is where we wire up our events to execute our Stimulus methods. -->
  <button type="button"
          id="dropdown_example"
          class="inline-flex justify-center items-center"
          data-dropdown-target="button"
          data-action="click->dropdown#toggle keydown.esc->dropdown#toggle click@window->dropdown#hide"
          tabindex="0"
          aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-plus"></i>
  </button>

  <!-- data-dropdown-target defines this div as our Stimulus "menu". -->
  <!-- data-transition-* are the standard transition events, el-transition reads these. -->
  <div role="menu"
       class="absolute right-0 origin-top-right w-48 shadow-xl rounded z-1 hidden"
       data-dropdown-target="menu"
       data-transition-enter="transition ease-out duration-100"
       data-transition-enter-start="transform opacity-0 scale-95"
       data-transition-enter-end="transform opacity-100 scale-100"
       data-transition-leave="transition ease-in duration-75"
       data-transition-leave-start="transform opacity-100 scale-100"
       data-transition-leave-end="transform opacity-0 scale-95"
       aria-orientation="vertical" aria-labelledby="dropdown_example">
    <div class="bg-white rounded-md">
      <div class="p-1 space-y-1">
        <a href="javascript:alert('Edit');" role="menuitem" class="flex items-center space-x-2 rounded py-2 px-3 text-sm font-medium text-slate-600 hover:bg-slate-100 hover:text-slate-700 focus:outline-none focus:bg-slate-100 focus:text-slate-700">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>
          <span>Edit</span>
        </a>
        <a href="javascript:alert('Remove');" role="menuitem" class="w-full flex items-center space-x-2 rounded py-2 px-3 text-sm font-medium text-slate-600 hover:bg-slate-100 hover:text-slate-700 focus:outline-none focus:bg-slate-100 focus:text-slate-700">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
          <span>Remove</span>
        </a>
      </div>
    </div>
  </div>
</div>
