<div class="book-tile">
  <div class="tile-overlay"></div>
  <div class="tile-content">
    <div class="top-buttons">
      <div class="add-button">
        <!-- plus symbol for adding to a bookshelf -->
      </div>
      <div class="check-button">
        <!-- check symbol for marking as read -->
      </div>
    </div>
    <div class="book-info">
      <h3 class="book-title">Dune</h3>
      <p class="book-author">Frank Herbert</p>
    </div>
  </div>
</div>

<!--<%= book.title %>-->
<!--<%= book.author %>-->
