<div class="book-section">
  <h2 class="section-header">Upcoming Badbook Club Sessions</h2>
  <div class="carousel">
    <!-- carousel -->
    <%= render partial: 'book_tile', collection: @bookclub_books %>
  </div>
</div>

<div class="book-section">
  <h2 class="section-header">Bestselling Wicked Tales</h2>
  <div class="carousel">
    <!-- carousel -->
    <%= render partial: 'book_tile', collection: @wicked_books %>
  </div>
</div>
