.book-tile {
  position: relative;
  margin-bottom: 20px;
  height: auto;
}

.book-cover {
  border-radius: 12px;
  width: 200px;
  height: 290px;
  object-fit: cover;
}

.read-status-btn, .add-btn {
  position: absolute;
  top: 250px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-status-btn {
  left: 10px;
  background-color: rgba(128, 128, 128, 0.6);
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.read-status-btn.read {
  background-color: $green;
  border-color: $green;
  border-style: solid;
  color: white;
}

.add-btn {
  right: 10px;
  background-color: white;
  color: $dark-gray;
}

.book-info {
  margin-top: 10px;
}

.book-title {
  font-size: 16px;
  font-weight: 600;
}

.book-author {
  font-size: 13px;
  color: #969696;
}
