.carousel-box {
  position: relative;
  overflow: hidden; /* Ensures that the fading effect doesn't overflow outside the carousel-box */
}

.carousel-box::before, .carousel-box::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px; /* Adjust the width as necessary */
  pointer-events: none;
  z-index: 2; /* Ensure this is above your carousel items but below interactive elements if necessary */
}

.carousel-box::before {
  left: 0;
  background: linear-gradient(to right, rgba(247, 241, 234, 1) 0%, rgba(247, 241, 234, 0.75) 50%, rgba(247, 241, 234, 0) 100%);
}

.carousel-box::after {
  right: 0;
  background: linear-gradient(to left, rgba(247, 241, 234, 1) 0%, rgba(247, 241, 234, 0.75) 75%, rgba(247, 241, 234, 0) 100%);
}
