.sessions-panel {
  flex: 1;
  background-color: $mid-cream;
  padding: 20px;
  margin-left: 40px;
  min-width: 450px;
  height: 450px;
  overflow-y: auto;
  border-radius: 20px;

  header {
    margin-bottom: 10px;
  }

  hr {
    border: 0;
    height: 1px;
    background-color: #eaeaea;
    margin-bottom: 20px;
  }

  .session-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #eaeaea;
    }

    > div {
      flex: 1;

      &.session-time, &.session-host {
        text-align: left;
      }

      &.session-capacity {
        text-align: center;

        .capacity-info {
          display: inline-block;
          padding: 5px 10px;
          border-radius: 25px;
          color: #fff;

          &.available {
            background-color: #4CAF50; /* Green */
          }

          &.full {
            background-color: #f44336; /* Red */
          }
        }
      }

      &.session-host {
        text-align: right;
      }
    }
  }

  .attend-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
