.btn-explore {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid $button-border-color;
  border-radius: 50px;
  background-color: transparent;
  color: $button-color;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: $button-hover-bg;
    color: $button-hover-color;
    border-color: $button-hover-bg;
  }
}

.btn-sign-up {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: $pink;
  border-color: $pink;
  border-style: solid;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: $button-hover-bg;
    color: $button-hover-color;
    border-color: $button-hover-bg;
  }
}

.btn-rsvp {
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  background-color: $pink;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: $dark-gray;
    color: white;
  }
}

.btn-rsvp-revoke {
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  background-color: $light-cream;
  color: $dark-gray;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-join-show {
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  background-color: $green;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-login {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid $light-cream;
  border-radius: 50px;
  background-color: transparent;
  color: $light-cream;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: $pink;
    color: white;
    border-color: $pink;
  }
}

.btn-new-session {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: $dark-gray;
  border-color: $dark-gray;
  border-style: solid;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: $pink;
    border-color: $pink;
    border-style: solid;
    color: white;
  }
}
