.link-with-counter {
  display: flex;
  align-items: center;
}

.counter-pill {
  background-color: $dark-gray;
  color: $light-cream;
  border-radius: 15px;
  padding: 2px 8px;
  font-size: 12px;
  margin-left: 2px;
}

.counter-pill-light {
  background-color: $light-gray;
  color: $dark-gray;
  border-radius: 15px;
  padding: 2px 8px;
  font-size: 12px;
  margin-right: 4px;
}

.counter-pill-pink {
  background-color: $pink;
  color: $white;
  border-radius: 15px;
  padding: 2px 8px;
  font-size: 12px;
  margin-left: 2px;
}
