.cta-box {
  background-color: $dark-gray;
  color: white;
  padding: 80px 20px 80px 20px;
  border-top: 1px solid $dark-gray;
  text-align: center;
}

.cta-box h1 {
  margin-bottom: 20px;
}

.cta-box p {
  font-size: 18px;
  margin-bottom: 30px;
}
