.message-row {
  padding: 6px;
  overflow: auto;
}

.sender-style, .receiver-style {
  position: relative;
  max-width: 70%;
  border-radius: 10px;
  padding: 10px;
  min-height: 20px;
  overflow-wrap: break-word;
}

.sender-style {
  float: right;
  background-color: $light-cream;
}

.receiver-style {
  float: left;
  background-color: $light-cream;
}

.message-content {
  font-size: 15px;
  color: $dark-gray;
  margin-bottom: 6px;
}

.message-submitted-by {
  font-size: 12px;
  color: #9a9a9a;
  margin-bottom: 0px;
}
