.navbar-badbook {
  justify-content: space-between;
}

.navbar-badbook .navbar-collapse {
  flex-grow: 0;
}

.navbar-badbook .navbar-brand img {
  height: 25px;
}

.transparent-navbar {
  background-color: transparent !important;
  transition: background-color 0.3s ease-in-out;
  border-bottom: none;
}

.solid-navbar {
  background-color: $light-cream !important;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid $dark-gray;
}
