// Containers and header area

.reviews-section {
  margin-top: 20px;
}

.reviews-section-content {
  max-width: 900px;
  margin: 0 auto;
}

.reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-header p {
  margin: 0;
  font-size: 26px;
}

.add-review-link-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.btn.btn-primary.btn-sm.add-review-link {
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 auto;
  color: white;
  border-radius: 50px;
}

// Reviews list

.review-list {
  list-style-type: none;
  padding: 0;
}

.review-item {
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid $light-gray;
}

.rating-section {
  display: flex;
  align-items: flex-start;
}

// Reviews inner content

.rating-stars {
  color: $yellow;
}

.review-description {
  margin-top: 5px;
  margin-bottom: 30px;
}

.review-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.user-email {
  flex-grow: 1;
  font-size: 14px;
  color: $light-gray-text;
}

.actions {
  align-self: flex-end;
  font-size: 14px;
}

// Form

.rating-dropdown  {
  margin-top: 0.5rem;
}

.centered-form {
  width: 50%;
  margin: 0 auto;
  padding: 30px;

  h1 {
    padding: 20px;
    text-align: center;
  }
}

// Form actions

.form-actions {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold-button {
  display: block;
  margin: 20px auto;
  border-radius: 50px;
  background-color: $dark-gray;
  color: white;
  margin: 0 5px;
}

.cancel-button {
  margin: 0 5px;
}
